<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Explore and compare Formula 1 lap times and telemetry and standings using F1 Insights!"
    />

    <title>F1 Insights</title>

    <link rel="stylesheet" href="/static/css/app.css" />

    <script src="/static/js/app.js" defer></script>

    <noscript>You need to enable JavaScript to run this app.</noscript>
  </head>
  <body>
    <main>
      <section></section>
    </main>
  </body>
</html>
